@page
@model RazorPages.Pages.Categories.EditModel
@{
    <form method="post" class="align-content-center border border-2 border-dark rounded col-4 m-auto mt-lg-5 " style="text-align:center;background-color:whitesmoke;">
        <div>
            <div class="mt-4">
                <label asp-for=Category></label>
                <input asp-for=Category>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <br> <br>
            <button type="submit" class="btn btn-outline-success"><i class="bi bi-check">Edit</i></button>
        </div>
    </form>
}
